html {
    height: 100%;
}

body {
    background-image: url("../images/blue-polygon.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    color: #000;
    font-weight: thin;
    font-size: 18px;
    /* text-shadow: 3px 3px 0px rgba(0, 0, 0, .5); */
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #F64747;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    padding: 20px;
}
.begin-game, .gameboard, .end-game {
    background-color: rgba(255, 255, 255, .8);
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    position: relative;
}

#begin, #try-again {
    margin: 50px auto 0 auto;
    background-color: #F64747;
    width: 25%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    padding: 20px;
    border: none;
}

#begin:hover, #try-again:hover, #next-question:hover {
    background-color: #F1A9A0;
}


/* TRIVIA GAMEBOARD STYLES */
#question-tracker {
    margin-top: 200px;
}

.question-tracker {
    display: block;
    margin: 30px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #F1A9A0;
    box-shadow: 0 0 10px #F1A9A0;
}

.question-tracker-active {
    background-color: #F64747;
    box-shadow: 0 0 10px #F64747;
}

.radio {
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: #4183D7;
    color: #fff;
    letter-spacing: 2px;
    border: none;
}

.radio input[type=radio]{
    visibility: hidden;
}

label .radio input[type=radio]:checked{
    background-color: #1F3A93;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, .6);
}

.radio:hover, .radio-active {
    background-color: #1F3A93;
    box-shadow: 5px 5px 5px rgba(33, 33, 33, .6);
    cursor: pointer;
}

#next-question {
    display: block;
    margin: 20px auto;
    background-color: #F64747;
    width: 50%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    padding: 20px;
    border: none;
}

#timer {
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
}

/* END GAME STYLES */
.result {
    border-bottom: 2px solid #F64747;
    padding: 5px;
    font-weight: bolder;
}

/* FOOTER STYLES */
footer {
    background-color: rgba(225, 225, 225);
    padding: 20px;
}

#footer {
    color: #fff;
}